div {
  padding-left: 10px;
  border-left: 3px solid grey;
}

.coach_answer {
  background-color: #FFFFE1;
}

a {
  text-decoration: none;
  color: white;
  background-color: #0069D9;
  padding: 10px;
  border: 1px solid grey;
}